{% extends "base.html" %}
{% block title %}Запись пользователя {{  post.author.username }}{% endblock %}
{% block header %}Запись пользователя {{  post.author.username }}{% endblock %}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            {%include 'includes/similar.html'%}
            <div class="col-md-9">
                <div class="card mb-3 mt-1 shadow-sm">
                    <div class="card-body">
                        <p class="card-text">
                            <a href="{% url 'profile'  author.username %}"><strong class="d-block text-gray-dark">@{{  author.username }}</strong></a>
                            {% if post.group %}
                                В группе: <a href="{% url 'group_posts' post.group.slug %}">{{ post.group }}</a>
                            {% endif %}
                        </p>
                        <p>
                            {{ post.text|linebreaksbr }}
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group ">
                                {% if request.user ==  author.username %}
                                    <a class="btn btn-sm text-muted" href="{% url 'post_edit'  author.username post.id %}" role="button">Редактировать</a>
                                {% endif %}
                            </div>
                            <small class="text-muted">{{ post.pub_date|date:"d M Y" }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main> 
{% endblock %}
